@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

/*font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: "Dancing Script", cursive; dc143c */

:root {
    --hul: 190;
    --primary-color: hsl(var(--hul), 100%, 50%);
    --secondary-color: hsl(var(--hul), 50%, 50%);
    --light-color: hsl(var(--hul), 50%, 100%);
    --section-dark: hsl(var(--hul), 50%, 10%);
    --card-dark: hsl(var(--hul), 50%, 15%);
    --brand-font: "Dancing Script", cursive;
    --menu-font: "Ubuntu", sans-serif;
    --title-font: "Poppins", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body.dark {
    --primary-color: hsl(var(--hul), 100%, 10%);
    --secondary-color: hsl(var(--hul), 100%, 50%);
    --light-color: hsl(var(--hul), 50%, 5%);
    --section-dark: hsl(var(--hul), 100%, 50%);
    --card-dark: hsl(var(--hul), 100%, 30%);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    background: var(--card-dark);
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: var(--primary-color);
}


/*------------------------all section style------------------------*/

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

section {
    padding: 100px 0;
    font-family: "Poppins", sans-serif;
}

section .title {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: var(--menu-font);
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: var(--section-dark);
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: var(--primary-color);
    background: var(--light-color);
    transform: translateX(-50%);
}

.about .about-contnet,
.services .services-carousel,
.skills .skills-contnet,
.contcat .contcat-contnet,
.projects .projects_content,
.counter-section .counter-contnet,
.navbar .max-width,
.blog .carousel .card .box,
.single_posts .carousel-post .card .box,
.services .services-carousel .card .box,
.projects .projects_content .column_projects .card .box,
.projects .projects_content .column_projects .card,
.column_counter,
.contcat .contcat-contnet .row,
.media-item a,
.navbar .logo .logo_link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/*------------------------dark sections------------------------*/

.services,
.blog,
.single_posts,
.contcat {
    color: var(--light-color);
    background: var(--section-dark);
}

.services .title::after,
.blog .title::after,
.single_posts .title::after,
.post_date .title::after,
.contcat .title::after {
    background: var(--section-dark);
}


/*------------------------light sections------------------------*/

.home,
.projects,
.about,
.services .services-carousel .card .box .services-btn {
    background: var(--light-color);
    color: var(--card-dark);
}

.services .title::before,
.blog .title::before,
.single_posts .title::before,
.contcat .title::before {
    background: var(--light-color);
}


/*------------------------navbar------------------------*/

.navbar,
.navbar .logo a span,
.navbar .menu li .nav_link,
.navbar .menu li .nav_link:hover,
.sticky .menu li .nav_link:hover {
    transition: all 0.3s ease;
}

.navbar .max-width {
    justify-content: space-between;
    padding: 0px 30px;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    font-family: var(--menu-font);
    background: none;
}

.navbar.sticky {
    padding: 15px 0;
    background-color: var(--section-dark);
}

.navbar .logo .logo_link {
    color: var(--section-dark);
    font-size: 35px;
    font-weight: 900;
    font-family: var(--brand-font);
}

.navbar .logo .logo_link span {
    color: var(--primary-color);
    font-family: var(--brand-font);
}

.sticky .logo .logo_link span {
    color: var(--light-color);
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li .nav_link,
.navbar .menu-btn {
    color: var(--section-dark);
    font-size: 18px;
    font-family: var(--menu-font);
    font-weight: 500;
    margin-left: 25px;
}

.sticky .logo .logo_link,
.navbar .menu li .nav_link:hover,
.sticky .menu-btn,
.navbar .menu-btn:hover {
    color: var(--primary-color);
}

.sticky .menu li .nav_link,
.sticky .menu-btn {
    color: var(--primary-color);
}

.sticky .menu li .nav_link:hover,
.sticky .menu-btn:hover {
    color: var(--light-color);
}

.navbar .nav_li .nav_link.active {
    color: var(--primary-color);
    text-shadow: 1px 1px 2px var(--card-dark);
}

.sticky .nav_li .nav_link.active {
    color: var(--light-color);
    text-shadow: 1px 1px 2px var(--card-dark);
}


/*------------------------menu btn------------------------*/

.menu-btn {
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/*------------------------home section------------------------*/

.home {
    width: 100%;
    color: var(--light-color);
    font-family: var(--menu-font);
    background-color: var(--light-color);
}

.home .max-width {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto 0 auto 40px;
}

.home .home-contnet {
    width: 80%;
    padding: 2.5rem;
}

.home .home-img {
    display: flex;
    align-items: center;
    text-align: center;
    width: 40%;
}

.home_blob {
    fill: var(--primary-color);
    width: 100%;
}

.home .home-contnet .text-1 {
    font-size: 27px;
    color: var(--section-dark);
}

.home .home-contnet .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: var(--primary-color);
    font-family: var(--brand-font);
    color: var(--section-dark);
}

.home .home-contnet .text-4 {
    color: var(--section-dark);
    font-size: 1.5rem;
}

.home .home-contnet .text-2 span {
    color: var(--primary-color);
}

.home .home-contnet .text-3 {
    font-size: 40px;
    margin: 5px 0;
    color: var(--section-dark);
}

.home .home-contnet .text-3 span {
    color: var(--primary-color);
    font-weight: 500;
}

.home .home-contnet a {
    display: inline-block;
    background: var(--primary-color);
    color: var(--section-dark);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
}

.home .home-contnet a:hover {
    color: var(--primary-color);
    background: none;
}


/*------------------------services section------------------------*/

.services .title::after {
    content: "What I provide?";
}

.services-carousel {
    width: 100%;
}

.services .services-carousel .card,
.services .services-carousel .card img,
.services .services-carousel .card .box,
.services .services-carousel .card .box .services-btn {
    transition: all 0.5s ease;
}

.services .services-carousel .card {
    background: var(--card-dark);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}

.services .services-carousel .card:hover {
    background: var(--primary-color);
}

.services .services-carousel .card:hover img,
.services .services-carousel .card:hover .text,
.services .services-carousel .card:hover p {
    color: var(--section-dark);
    border-color: var(--card-dark);
}

.services .services-carousel .card:hover .box {
    transform: scale(1.05);
}

.services .services-carousel .card img {
    font-size: 50px;
    color: var(--primary-color);
    border: 5px solid var(--primary-color);
}

.services .services-carousel .card .box {
    flex-direction: column;
}

.services .services-carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.services .services-carousel .card .box .services-btn {
    display: inline-block;
    background: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 3px solid var(--primary-color);
}

.services .services-carousel .card .box .services-btn:hover,
.services .services-carousel .card:hover .services-btn {
    color: var(--primary-color);
    font-weight: 900;
    background: var(--section-dark);
    border: 3px solid var(--section-dark);
}


/*------------------------projects section------------------------*/

.projects,
.projects .max-width,
.projects .projects_content,
.projects .projects_content .column_projects,
.projects .projects_content .column_projects .card .box {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.projects .max-width {
    padding: 0px 30px;
    margin: auto;
}

.projects {
    padding-top: 40px;
}

.projects .title::before {
    color: var(--section-dark);
}

.projects .title::after {
    content: "Lastet Projects";
}

.projects .max-width {
    padding-top: 80px;
}

.projects .projects_content .column_projects {
    width: 33.3%;
    height: 100%;
}

.projects .projects_content .column_projects .card {
    background-size: cover !important;
}

.projects .projects_content .column_projects .card .box {
    flex-direction: column;
    padding-top: 40%;
    padding-bottom: 10%;
    background-color: rgba(34, 34, 34, 0.5);
}

.projects .projects_content .column_projects .card,
.projects .projects_content .card .box .projects_btn {
    border-radius: 6px;
    border: 3px solid var(--primary-color);
}

.projects .projects_content .card .box .subtitle,
.projects .projects_content .card .project_title,
.projects .projects_content .card .box .projects_btn {
    font-weight: 500;
    color: var(--primary-color);
}

.projects .projects_content .card .project_title {
    font-size: 25px;
    margin: 10px 0 7px 0;
}

.projects .projects_content .card .box .subtitle {
    font-size: 18px;
}

.projects .projects_content .card .project_title,
.projects .projects_content .card .box .projects_btn {
    transition: all 0.3s ease;
}

.projects .projects_content .card .box:hover {
    background-color: rgba(34, 34, 34, 0);
}

.projects .projects_content .card .box .projects_btn {
    display: inline-block;
    font-size: 16px;
    padding: 10px 30px;
    margin-top: 20px;
    color: var(--primary-color);
    background: none;
    border-color: var(--primary-color);
}

.projects .projects_content .card:hover {
    transform: scale(1.05);
}

.projects .projects_content .card .box .projects_btn:hover,
.projects .projects_content .card:hover .box .projects_btn {
    background: var(--primary-color);
    color: var(--section-dark);
}

.projects .projects_content .card:hover .box .subtitle,
.projects .projects_content .card:hover .project_title,
.projects .projects_content .card:hover .box,
.projects .projects_content .card .box .projects_btn:hover,
.projects .projects_content .card:hover .box .projects_btn {
    font-weight: 900;
}


/*------------------------counter section------------------------*/

.counter-section .max-width {
    width: 100%;
}

.counter-section .counter-contnet {
    justify-content: space-between;
}

.counter-section {
    background: var(--light-color);
}

.column_counter {
    flex-direction: column;
    width: scale(25% - 10px);
}

.counter_title,
.counter {
    font-family: var(--menu-font);
    color: var(--card-dark);
    margin-top: 5px;
    margin-bottom: 5px;
}

.column_counter i {
    color: var(--card-dark);
    font-size: 75px;
    margin-bottom: 10px;
}

.counter {
    font-size: 30px;
    font-weight: 500;
    color: var(--section-dark);
}

.counter_title {
    font-size: 18px;
    font-weight: 700;
}


/* ------------------------blog section------------------------ */

.blog .title::after {
    content: "My Tech Level";
    background: var(--section-dark);
}

.blog .carousel .card,
.blog .carousel .card i,
.blog .carousel .card .box a {
    border-radius: 6px;
}

.blog .carousel .card {
    background: var(--card-dark);
    padding: 25px 35px;
    text-align: center;
}

.blog .carousel .card:hover,
.blog .carousel .card .box a {
    background: var(--primary-color);
}

.blog .carousel .card i,
.blog .carousel .card,
.blog .carousel .card .box a {
    transition: all 0.5s ease;
}

.blog .carousel .card .skills_icon {
    font-size: 7rem;
    color: var(--primary-color);
}

.blog .carousel .card:hover .skills_icon {
    color: var(--section-dark);
}

.blog .carousel .card .box {
    flex-direction: column;
}

.blog .carousel .card:hover .box {
    transform: scale(1.05);
}

.blog .carousel .card .text {
    font-size: 25px;
    margin: 10px 0 7px 0;
    color: var(--primary-color);
}

.blog .carousel .card .box a,
.blog .carousel .card .text {
    font-weight: 500;
}

.blog .carousel .card:hover .text,
.blog .carousel .card:hover p {
    color: var(--section-dark);
}

.blog .carousel .card .box a {
    display: inline-block;
    color: var(--light-color);
    font-size: 16px;
    padding: 6px 12px;
    margin-top: 20px;
}

.blog .carousel .card:hover .box a,
.blog .carousel .card .box a:hover {
    background: var(--section-dark);
    color: var(--primary-color);
    font-weight: 900;
}


/*------------------------about me section------------------------*/

.about .title::after {
    content: "Who I'm?";
}

.about .about-contnet .left {
    width: 45%;
}

.about .about-contnet .rigth {
    width: 55%;
}

.about .about-contnet .rigth .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-contnet .rigth .text span,
.about .about-contnet .rigth a:hover {
    color: var(--primary-color);
}

.about .about-contnet .rigth .text p {
    text-align: start;
}

.about .about-contnet .rigth a {
    display: inline-block;
    background: var(--primary-color);
    color: var(--light-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
}

.about .about-contnet .rigth a:hover,
.contcat .rigth form .button button:hover {
    font-weight: 500;
    background: none;
}

.about .about-contnet .left img,
.about .about-contnet .rigth a {
    border-radius: 6px;
}

.about .about-contnet .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}


/*------------------------contcat section------------------------*/

.contcat .title::after {
    content: "Get In Touch";
}

.contcat .contcat-contnet .column {
    width: calc(50% - 30px);
}

.contcat .contcat-contnet .text,
.contcat .contcat-contnet .row i,
.contcat .contcat-contnet .info .head,
.contcat .rigth form .button button:hover {
    color: var(--primary-color);
}

.contcat .contcat-contnet .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contcat .contcat-contnet .left p {
    text-align: start;
}

.contcat .contcat-contnet .left .icons {
    margin: 15px 0;
}

.contcat .contcat-contnet .row {
    height: 65px;
    align-items: center;
    justify-content: start;
}

.contcat .contcat-contnet .row .info {
    margin-left: 30px;
}

.contcat .contcat-contnet .row i {
    font-size: 25px;
}

.contcat .contcat-contnet .info .head {
    font-weight: 500;
}

.contcat .contcat-contnet .info .sub-title {
    color: var(--light-color);
}

.contcat .rigth form .fields {
    display: flex;
}

.contcat .rigth form .field,
.contcat .rigth form .fields .field,
.contcat .rigth form .textarea,
.contcat .rigth form .field input,
.contcat .rigth form .textarea textarea,
.contcat .rigth form .button,
.contcat .rigth form .button button {
    width: 100%;
    border-radius: 7px;
    font-family: var(--title-font);
}

.contcat .rigth form .button,
.contcat .rigth form .button button {
    width: 100%;
    border-radius: 6px;
    font-family: var(--title-font);
    border: 1px solid var(--primary-color);
}

.contcat .rigth form .field,
.contcat .rigth form .fields .field {
    height: 45px;
    margin-bottom: 15px;
}

.contcat .rigth form .textarea {
    height: 80px;
}

.contcat .rigth form .name {
    margin-right: 10px;
}

.contcat .rigth form .email {
    margin-left: 10px;
}

.contcat .rigth form .field input,
.contcat .rigth form .field textarea {
    height: 100%;
    outline: var(--light-color);
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 0 15px;
    font-size: 17px;
}

.contcat .rigth form .textarea textarea {
    padding-bottom: 10px;
    resize: none;
}

.contcat .rigth form .button {
    height: 47px;
}

.contcat .rigth form .button button {
    height: 100%;
    background: var(--primary-color);
    color: var(--light-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}


/*------------------------footer section------------------------*/

footer {
    background: var(--section-dark);
    padding: 20px 23px;
    color: var(--primary-color);
    text-align: center;
}

footer span a {
    color: var(--light-color);
    font-weight: 900;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}


/*------------------------scroll up btn------------------------*/

.scroll-up-btn {
    position: fixed;
    right: 20px;
    bottom: 60px;
    line-height: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.scroll-up-btn.show {
    bottom: 60px;
    opacity: 1;
    pointer-events: auto;
}

.theme-btn {
    position: fixed;
    right: 20px;
    bottom: 160px;
    width: 45px;
    height: 45px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    background: var(--primary-color);
    transition: all 0.5s ease;
    z-index: 998;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
}

.scroll-up-btn,
.media-box .mes,
.media-item a {
    width: 45px;
    height: 45px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    background: var(--primary-color);
    transition: all 0.5s ease;
    z-index: 998;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
}


/*------------------------medai box------------------------*/

.media-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 150px;
    right: 20px;
    z-index: 998;
}

.media-box .mes {
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    margin-bottom: 10px;
    text-decoration: none;
}

.media-box .mes i {
    font-size: 25px;
    color: var(--light-color);
}

.media-item {
    display: none;
}

.media-item.show-box {
    display: block;
}

.media-item a {
    margin-bottom: 10px;
    text-decoration: none;
    background: var(--card-dark);
}

.media-item a i {
    font-size: 25px;
    color: var(--light-color);
}

.media-item a:hover i {
    color: var(--section-dark);
}

.media-box a:hover {
    background: var(--primary-color);
}


/*------------------------singel post page------------------------*/

.post .max-width {
    padding: 20px 20px !important;
    border-radius: 15px;
    margin-bottom: 20px;
    background: var(--light-color);
}

.post,
.post_content,
.post_content .column_left,
.post_content .column_right,
.post_duke .post_info_list,
.post_duke .post_media,
.post_duke {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.post,
.post_content {
    width: 100%;
}

.post_content .column_left,
.post_content .column_right {
    width: 48%;
}

.column_left .img_box {
    background: var(--primary-color);
    color: var(--light-color);
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 25px;
    width: 100%;
    border-radius: 15px;
    text-align: center;
}

.column_left .img_box .post_img {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 15px 15px 0 0;
}

.column_left .img_box h4 {
    margin: 15px;
}

.column_right {
    color: var(--light-color);
}

.column_right .post_title {
    background: var(--secondary-color);
    font-size: 35px;
    font-weight: 700;
    font-family: var(--menu-font);
}

.column_right .post_text,
.column_right .post_title,
.post .post_duke {
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    text-align: start;
}

.column_right .post_text {
    font-size: 25px;
    background: var(--section-dark);
    margin-top: 20px;
}


/*------------------ post_duke -------------------*/

.post .post_duke {
    width: 100%;
    display: flex;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    justify-content: space-between;
    background: var(--primary-color);
    color: var(--card-dark);
}

.post_duke .post_media,
.post_duke .post_info_list,
.post_duke .post_info_list li,
.post_duke .post_media li {
    list-style: none;
    display: inline-block;
}

.post_duke .post_media li .post_media_link,
.post_duke .post_info_list li .post_info {
    color: var(--section-dark);
    font-size: 30px;
}

.post_duke .post_media {
    margin: 20px;
}

.post_duke .post_info_list {
    margin: 32px;
}

.post_duke .post_info_list li .post_info {
    font-size: 18px;
    font-weight: 700;
}

.post_duke .post_media li .post_media_link,
.post_duke .post_info_list li .post_info {
    margin-right: 20px;
}

.post_duke .post_media li .post_media_link:hover,
.post_duke .post_info_list li .post_info:hover {
    color: var(--light-color);
}


/*------------- post_full ---------------*/

.post .post_full {
    width: 100%;
    margin-top: 20px;
    color: var(--light-color);
    padding: 25px;
    border: 2px solid var(--light-color);
    border-radius: 15px;
    background: var(--section-dark);
}


/*------------- single_posts ---------------*/

.single_posts .title::after {
    content: " Of The Same Category";
    background: var(--section-dark);
}

.single_posts .carousel-post .card,
.single_posts .carousel-post .card img,
.single_posts .carousel-post .card .box a {
    border-radius: 6px;
}

.single_posts .carousel-post .card {
    background: var(--card-dark);
    padding: 25px 35px;
    text-align: center;
}

.single_posts .carousel-post .card:hover,
.single_posts .carousel-post .card .box a {
    background: var(--primary-color);
}

.single_posts .carousel-post .card img,
.single_posts .carousel-post .card,
.single_posts .carousel-post .card .box a {
    transition: all 0.5s ease;
}

.single_posts .carousel-post .card img {
    height: 180px;
    object-fit: cover;
    border: 5px solid var(--primary-color);
}

.single_posts .carousel-post .card:hover img {
    border-color: var(--section-dark);
}

.single_posts .carousel-post .card .box {
    flex-direction: column;
}

.single_posts .carousel-post .card:hover .box {
    transform: scale(1.05);
}

.single_posts .carousel-post .card .text {
    font-size: 25px;
    margin: 10px 0 7px 0;
    color: var(--primary-color);
}

.single_posts .carousel-post .card .box a,
.single_posts .carousel-post .card .text {
    font-weight: 500;
}

.single_posts .carousel-post .card:hover .text,
.single_posts .carousel-post .card:hover .box a,
.single_posts .carousel-post .card .box a:hover {
    color: var(--card-dark);
}

.single_posts .carousel-post .card .box a {
    display: inline-block;
    color: var(--light-color);
    font-size: 16px;
    padding: 6px 12px;
    margin-top: 20px;
}

.single_posts .carousel-post .card:hover .box a,
.single_posts .carousel-post .card .box a:hover {
    font-weight: 900;
    border: 3px solid var(--card-dark);
    background: none;
}


/*------------------------media query------------------------*/

@media (max-width: 1300px) {
    .max-width {
        padding: 0 50px;
    }
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .max-width {
        padding: 0 50px;
    }
    .home .max-width {
        margin-left: 0px;
    }
    /*about me*/
    .about .about-contnet .left img {
        height: 350px;
        width: 350px;
    }
    .home .max-width {
        flex-direction: column;
        justify-content: space-around;
    }
    .home .home-contnet {
        width: 100%;
    }
    .home .home-img {
        width: 80%;
    }
    .home .home-contnet .text-4 {
        font-size: 1.25rem;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .home .home-contnet .text-4 {
        font-size: .95rem;
    }
    .fa-times {
        color: var(--light-color);
        transition: all 0.5s ease;
    }
    .fa-times:hover {
        color: var(--primary-color);
        transition: color 0.5s ease;
    }
    .fa-bars {
        transition: all 0.5s ease;
    }
    .navbar .menu-btn:hover {
        color: var(--primary-color);
        transition: color 0.3s ease;
    }
    .sticky .menu-btn:hover {
        color: var(--section-dark);
        transition: color 0.3s ease;
    }
    .max-width {
        padding: 0 50px;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        padding-top: 80px;
        text-align: center;
        background: var(--section-dark);
        transition: all 0.5s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu li a:hover {
        color: var(--primary-color);
        transition: color 0.3s ease;
    }
    /*home saction*/
    .home .home-contnet .text-2 {
        font-size: 70px;
    }
    .home .home-contnet .text-3 {
        font-size: 35px;
    }
    .home .home-contnet a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    /*about me section*/
    .about .about-contnet .column {
        width: 100%;
    }
    .about .about-contnet .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-contnet .rigth {
        flex: 100%;
    }
    .skills .skills-contnet .column,
    .contcat .contcat-contnet .column {
        width: 100%;
        margin-bottom: 35px;
    }
    /*projects section*/
    .projects .projects_content .column_projects {
        width: 50%;
        padding: 0px;
        margin: 0px;
    }
    /*counter section*/
    .column_counter {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 50%;
    }
    .home .max-width {
        flex-direction: column;
        justify-content: space-around;
    }
    .home .home-contnet {
        width: 100%;
    }
    .home .home-img {
        width: 80%;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-contnet .text-2 {
        font-size: 60px;
    }
    .home .home-contnet .text-3 {
        font-size: 32px;
    }
    .home .home-contnet a {
        font-size: 20px;
    }
    /*projects section*/
    .projects .projects_content .column_projects {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    /*counter section*/
    .column_counter {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 50%;
    }
    .home .max-width {
        flex-direction: column;
        justify-content: space-around;
    }
    .home .home-contnet {
        width: 100%;
    }
    .home .home-img {
        width: 80%;
    }
    .home .home-contnet .text-4 {
        font-size: .75rem;
    }
}

@media (max-width: 500px) {
    .home .home-contnet .text-2 {
        font-size: 50px;
    }
    .home .home-contnet .text-3 {
        font-size: 27px;
    }
    .home .home-contnet .text-4 {
        font-size: .75rem;
    }
    /*counter section*/
    .column_counter {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 50%;
    }
    .home .max-width {
        flex-direction: column;
        justify-content: space-around;
    }
    .home .home-contnet {
        width: 100%;
    }
    .home .home-img {
        width: 80%;
    }
}